body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    color: aqua;
}
.odd{
    background-color: #0fe479;
}
.even{
    background-color: #e9ecef;
}
.para{
    background-color: #096dd1;
}